html{
    scroll-behavior: smooth;
  }
  body{
        margin: 0;
        background-color: rgb(219, 210, 179);
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
    }
    .container{
        width: 80%;
        margin: 0 auto;
    }
    header{
        background-color: pink;
    }
    header ::after{
        content: '';
        display: table;
        clear: both;
    }
    .logo{
        float: left;
        padding: 10px 0;
    }
    nav{
        float: right;
    }
    nav ul{
       margin: 0; 
       padding: 0;
       list-style: none;
       display: flex;
    }
    nav li{
        display: inline-block;
        margin-left: 60px;
        padding-top: 40px;

        position: relative;

        list-style: none;
    }

    nav a{
        color: royalblue;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 14px;

    }

    nav a:hover{
        color: salmon;
    }

    nav a::before{
        content: '';
        display: block;
        height: 5px;
        width: 100%;
        background-color: rgb(214, 126, 85);

        position: absolute;
        top: 0;
        width: 0%;
        transition: all ease-in-out 250ms;;
    }

    nav a:hover::before{
        width: 100%;
    }
    .toggle-button {
        position: absolute;
        top: .75rem;
        right: 1rem;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 21px;
    }
    .toggle-button .bar{
        height: 3px;
        width: 100%;
        background-color: white;
        border-radius: 10px;
    }
    p{
        margin-bottom: 0px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        color: rgb(63, 187, 129);
        }

    @media (max-width: 600px){
        .toggle-button{
            display: flex;
        }
        .navbar-links{
            display: none;
            width: 100%;
            margin-right: 280px;
        }

        nav{
            flex-direction: column;
            align-items: flex-start;
            
        }

        .navbar-links ul{
            width: 100%;
            flex-direction: column;
        }
        .navbar-links li{
            text-align: center;
            padding: 10px 0;
        }

        .navbar-links a{
            padding: .5rem 1rem;
        }
        .navbar-links.active{
            display: flex;
        }
        .ozon{
            width: 100%;
        }
        /* .arrow{
            margin-bottom: 10px;
            margin-left: auto;
        }
         */
       

        .map{
            width: auto;   
        }
        h1{
            text-align: center;
        }
        p{
            font-size: 16px;
        }
        .center{
            padding-top: 10px;
        }
        .viela{
            width: 300px;
        }
        .kont{
            font-size: 10px;
        }
        .raksts{
            margin-bottom: 110px;
        }
        
    }
    


footer {
position: fixed;
left: 0;
bottom: 0;
height: 100px;
width: 100%;
background-color: rgba(240, 217, 217, 0.925);
}

p.copyright {
position: absolute;
width: 100%;
color: black;
line-height: 40px;
font-size: 0.7em;
text-align: center;
bottom:0;
}

#myBtn {
display: none;
position: fixed;
bottom: 20px;
right: 30px;
z-index: 99;
font-size: 18px;
border: none;
outline: none;
background-color:  rgb(187, 100, 161);
color: white;
cursor: pointer;
padding: 15px;
border-radius: 4px;
}

#myBtn:hover {
background-color: #555;
}

.grid-container{   
display: grid;
grid-column-gap: 30px;
grid-template-columns: auto auto auto;
justify-content: space-evenly;


}

h1{
font-size: 25px;
font-family: Arial, Helvetica, sans-serif;
color: aliceblue;
margin-left: 20px;
}
/* 
#text1{
font-weight: 600;
font-size: 12px;
text-align: center;
margin-top: 5px;
margin-bottom: 10px;
color: rgb(26, 29, 29);

} */
.grid-item{
border: 0.5px none black;
padding: 10px;
font-size: 20px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-weight: 700;
color: rgb(219, 147, 106);

}
/* #vp1{
align-self: center;
margin-left: 190px;
}
#vp2{
width: 276px;
height: 183px;
margin-left: 190px;
} */

  
.ozon{
    width: auto;
    height: auto;
}
  
#ozon2{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;   
}
  
#ozon1{
    width: 60%;
    /* margin-right: 90px; */
    float: right;
}


table, th{
    border: 2px none rgb(160, 42, 160);
  }
  table{
    border-collapse: collapse;
    width: 80%;
    margin-left: 7.5%;
  }
  
  .virsraksts{
    height: 50px;
    float: left;
    
  }
  .virsraksts2{
    height: 50px;
    float: right;
    text-align: center;
  }
  #ss{
    text-align: center;
    width: 46px;
    
  }
  .mm{
      font-weight: 500;
      float: left;
      font-size: 13px;
  }
  .gg{
      font-weight: 500;
      float: right;
      font-size: 13px;
  }
  .pakalpojumi{
    max-width: 100%;
    margin-top: 0px;
  }
  
  
  h6{
      margin-left: 100px;
      font-weight: 500;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 19px;
  }

  .map{
      display: block;
      margin-right: auto;
      margin-left: auto;
  }
  .viela{
      width: 300px;
      display: block;
      margin-left: auto;
      margin-right: auto;  
  }

  .ikonas{
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 50px;
}
.phone{
    size: 20px;
    margin-right: auto;
    margin-left: auto;
}
.center{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.fas{
    content: icon;
    color: rgb(219, 147, 106);
    text-align: center;
    display: block;
    width: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.cont{
    text-align: center;
}
.kont{
    font-size: 14px;
    font-weight: 200;    
}
#fifth{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgb(219, 147, 106);
}

.gjen{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 75px;
    margin-bottom: 150px;
}

h3{
    font-weight: bold;
    color: rgb(63, 187, 129);
    font-style: italic;
}